.home,
.archive {
  .site-main {
    h2 {
      font-family: "Bebas Neue";
      font-weight: 600;
      padding: 0.75rem 1.125rem;
      @include media-breakpoint-down(sm) {
        padding-left: 0;
      }
    }
    .card {
      border-bottom: 2px solid $light;
      padding: 18px;
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
      @include media-breakpoint-up(sm) {
        figure {
          max-width: 200px;
        }
      }
      .col-4 {
        @include media-breakpoint-down(sm) {
          padding-right: 0;
        }
      }
      .attachment-post-thumbnail {
        width: 100%;
        height: auto;
      }
      .body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .header {
          h6 {
            color: $gray-700;
            font-size: 14px;
            @include media-breakpoint-down(sm) {
              display: none;
            }
          }
          h3 {
            font-size: 20px;
            &:hover {
              text-decoration: underline;
            }
            @include media-breakpoint-down(sm) {
              font-size: 14px;
            }
          }
          p {
            font-size: 14px;
          }
          .desktop {
            @include media-breakpoint-down(sm) {
              display: none;
            }
          }
          .mobile {
            display: none;
            @include media-breakpoint-down(sm) {
              display: block;
            }
            p {
              font-size: 14px;
            }
          }
          .post-link {
            &:hover {
              text-decoration: none;
            }
          }
        }
        .footer {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .post-details {
            display: flex;
            align-items: center;
            figure {
              width: 28px;
              height: 28px;
              margin-right: 8px;
              @include media-breakpoint-down(sm) {
                display: none;
              }
              img {
                width: 100%;
                height: auto;
                border-radius: 50%;
              }
            }
            .text {
              h5 {
                font-size: 14px;
                color: $gray-700;
                margin-bottom: 4px;
                @include media-breakpoint-down(sm) {
                  font-size: 12px;
                }
              }
              h6 {
                font-size: 12px;
                color: $gray-500;
                font-style: italic;
                @include media-breakpoint-down(sm) {
                  display: none;
                }
              }
            }
          }
          .share-links {
            @include media-breakpoint-down(sm) {
              display: none;
            }
          }
        }
      }
      // a {
      //   text-decoration: none;
      // }
    }
  }
}
