.span-page {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Roboto";
  background-color: $light;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.site-main {
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  .border {
    background-color: $white;
    border: 1px solid $primary;
  }
  .main-content {
    @include media-breakpoint-up(lg) {
      width: 73%;
      margin-right: 2%;
    }
    height: 100%;
  }
  .sidebar {
    height: 100%;
    @include media-breakpoint-down(lg) {
      display: none;
    }
    margin-bottom: 50px;
  }
}

.btn {
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  &:hover {
    text-decoration: none;
  }

}

.underline-link {
  a {
    text-decoration: underline;
  }
}

.show {
  display: block;
}