header {
  background-color: $light;
  .top-header {
    background-color: $primary;
    ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      .nav-link {
        &:hover {
          opacity: 0.8;
        }
        .icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .hero-header {
    > .row {
      @include media-breakpoint-down(lg) {
        flex-direction: column-reverse;
      }
    }

    .left {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      color: $primary;
      @include media-breakpoint-down(lg) {
        padding-bottom: 50px;
        justify-content: center;
      }
      @include media-breakpoint-down(sm) {
        align-items: center;
      }
      h2 {
        font-family: "Bebas Neue";
        font-size: 3rem;
      }
      h4 {
        @include media-breakpoint-down(sm) {
          text-align: center;
        }
      }
      .footer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 15px;
        @include media-breakpoint-down(sm) {
          justify-content: center;
        }
        .btn {
          font-weight: 600;
          width: 200px;
          @include media-breakpoint-up(sm) {
            margin-right: 15px;
          }
        }
        .icon-list {
          display: flex;
          @include media-breakpoint-down(sm) {
            justify-content: space-between;
            width: 200px;
            padding-top: 25px;
          }
          .nav-link {
            @include media-breakpoint-down(sm) {
              padding: 0;
            }
            .icon {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
    .right {
      padding: 25px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
  nav {
    background-color: $primary;
    color: $white;
    .menu-primary-container {
      .menu {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        padding: 15px 0;
        @include media-breakpoint-down(sm) {
          justify-content: center;
        }
        .menu-item {
          a {
            color: $gray-400;
            margin-right: 25px;
            font-weight: 600;
            text-decoration: none;
          }
        }
        .current-menu-item {
          a {
            border-bottom: 2px solid $white;
            padding-bottom: 10px;
            color: $white;
          }
        }
      }
    }
  }
}
